<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.kodango.lookupip</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>7367F5F3-AA5B-46B0-B220-5721AA879147</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D96D2348-AF6D-492A-B0AF-B822FFFD63F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>kodango</string>
	<key>description</key>
	<string>根据淘宝地址库来查询 IP 地址信息</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Lookup IP</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>6</integer>
				<key>keyword</key>
				<string>lip</string>
				<key>runningsubtext</key>
				<string>正在查询...</string>
				<key>script</key>
				<string>#!/usr/bin/env python
# coding=utf-8

import os
import re
import sys
import json
import urllib, urllib2

from alfred.feedback import Feedback

# Taobao restful query api
API = 'http://ip.taobao.com/service'

# Regular expression for a valid ip address
REGEXP_IP = r'(?:(?:25[0-5]|2[0-4]\d|[01]?\d\d?)\.){3}(?:25[0-5]|2[0-4]\d|[01]?\d\d?)'

def query_ip(ip = None):
    '''Query the ip information with the taobao api.'''
    if ip is None: # Query the local ip instead
        url = '%s/getIpInfo2.php' % API
        data = urllib.urlencode({'ip': 'myip'}) # Post
    else:
        url = '%s/getIpInfo.php?ip=%s' % (API, ip)
        data = None # Get

    req = urllib2.Request(url, data) # exception?
    response = urllib2.urlopen(req)

    return json.loads(response.read())

def generate_feedback_results(ip_query):
    '''Generate the feedback results.'''
    fb = Feedback()

    if ip_query:
        ip_list = re.findall(REGEXP_IP, ip_query)
    else:
        ip_list = [None]

    for ip in ip_list:
        info = query_ip(ip)
        #print ip, info

        if info['code'] == 1: # query failed
            kwargs = {
                'title': u'查询 IP 地址失败',
                'subtitle': u'错误原因: %s' % info['data'],
                'valid': False
            }
        else: # query success
            data = info['data']

            title = u'%s 位于 %s %s %s' % (data['ip'], data['country'],
                    data['region'], data['city'])

            if data['isp']:
                subtitle = u'运营商: %s %s' % (data['area'], data['isp'])
            else:
                subtitle = None

            kwargs = {
                'title': title,
                'subtitle': subtitle,
                'arg': '%s\n%s' % (title, subtitle)
            }

        fb.addItem(**kwargs)

    fb.output()

def main():
    '''The main entry.'''
    # Note: do not use single quote here, because Alfred doesn't give choice to
    # escape a single quote.
    ip_query = "{query}"
    generate_feedback_results(ip_query)

if __name__ == '__main__':
    main()</string>
				<key>subtext</key>
				<string>查询 IP 地址信息, 来源: http://ip.taobao.com/index.php</string>
				<key>title</key>
				<string>Lookup IP</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7367F5F3-AA5B-46B0-B220-5721AA879147</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D96D2348-AF6D-492A-B0AF-B822FFFD63F9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Intro
=====

Alfred 2 workflow: 根据淘宝地址库来查询 IP 地址信息

Taobao IP 地址库: http://ip.taobao.com/index.php

Usage
=====

Alfred 框中输入 lip, 参数可以为:

    lip  # 查询本机的 IP 地址
    lip 199.91.73.222 178.79.131.110  # 查询指定的多个 IP 地址
    lip 199.91.73.222,178.79.131.110  # 查询指定的多个 IP 地址
    lip 199.91.73.222178.79.131.110  # 查询指定的多个 IP 地址</string>
	<key>uidata</key>
	<dict>
		<key>7367F5F3-AA5B-46B0-B220-5721AA879147</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D96D2348-AF6D-492A-B0AF-B822FFFD63F9</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://kodango.com</string>
</dict>
</plist>
